@import "../../SCSS/index.scss";

.client-form{
    position: relative;
    background-color: $background-light;
    width: 500px;
    padding: 0px 50px 50px 50px;
    border-radius: 10px;

    p{
        &:first-of-type{
            color: $font-light-gray;
        }
        
    }

    .ui.form{
        margin-top: 20px;
    }

    .button{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .ui.button{
            background-color: $background-grey;
            color: $font-light;
            padding: 10px 60px;
            border-radius: 10px;
        }
    }
}