@import "../../SCSS//index.scss";

.client{
    position: relative;
    background-color: $background-light;
    width: 500px;
    padding: 0px 50px 50px 50px;
    border-radius: 10px;

    .head{
        margin: 10px;
        display: flex;
        justify-content: space-between;
        h1{
            font-size: 15px;
        }
    }

    

    .data{
        display: flex;
        flex-direction: column;
    }
}